codigo fuente/consumirsistemadetickets/Connected Services/wsmotivodeatencionc/ws_motivo_de_atencion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="listado">
        <s:complexType />
      </s:element>
      <s:element name="listadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listadoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Motivo_de_atencion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idAtencion" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Motivo_de_atencionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Motivo_de_atencionResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertar_motivo_de_atencion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idAtencion" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="motivo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertar_motivo_de_atencionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insertar_motivo_de_atencionResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizacion_motivo_de_atencion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idAtencion" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="motivo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizacion_motivo_de_atencionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="actualizacion_motivo_de_atencionResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminar_motivo_de_atencion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idAtencion" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminar_motivo_de_atencionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="eliminar_motivo_de_atencionResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="listadoSoapIn">
    <wsdl:part name="parameters" element="tns:listado" />
  </wsdl:message>
  <wsdl:message name="listadoSoapOut">
    <wsdl:part name="parameters" element="tns:listadoResponse" />
  </wsdl:message>
  <wsdl:message name="Motivo_de_atencionSoapIn">
    <wsdl:part name="parameters" element="tns:Motivo_de_atencion" />
  </wsdl:message>
  <wsdl:message name="Motivo_de_atencionSoapOut">
    <wsdl:part name="parameters" element="tns:Motivo_de_atencionResponse" />
  </wsdl:message>
  <wsdl:message name="insertar_motivo_de_atencionSoapIn">
    <wsdl:part name="parameters" element="tns:insertar_motivo_de_atencion" />
  </wsdl:message>
  <wsdl:message name="insertar_motivo_de_atencionSoapOut">
    <wsdl:part name="parameters" element="tns:insertar_motivo_de_atencionResponse" />
  </wsdl:message>
  <wsdl:message name="actualizacion_motivo_de_atencionSoapIn">
    <wsdl:part name="parameters" element="tns:actualizacion_motivo_de_atencion" />
  </wsdl:message>
  <wsdl:message name="actualizacion_motivo_de_atencionSoapOut">
    <wsdl:part name="parameters" element="tns:actualizacion_motivo_de_atencionResponse" />
  </wsdl:message>
  <wsdl:message name="eliminar_motivo_de_atencionSoapIn">
    <wsdl:part name="parameters" element="tns:eliminar_motivo_de_atencion" />
  </wsdl:message>
  <wsdl:message name="eliminar_motivo_de_atencionSoapOut">
    <wsdl:part name="parameters" element="tns:eliminar_motivo_de_atencionResponse" />
  </wsdl:message>
  <wsdl:portType name="ws_motivo_de_atencionSoap">
    <wsdl:operation name="listado">
      <wsdl:input message="tns:listadoSoapIn" />
      <wsdl:output message="tns:listadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Motivo_de_atencion">
      <wsdl:input message="tns:Motivo_de_atencionSoapIn" />
      <wsdl:output message="tns:Motivo_de_atencionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertar_motivo_de_atencion">
      <wsdl:input message="tns:insertar_motivo_de_atencionSoapIn" />
      <wsdl:output message="tns:insertar_motivo_de_atencionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="actualizacion_motivo_de_atencion">
      <wsdl:input message="tns:actualizacion_motivo_de_atencionSoapIn" />
      <wsdl:output message="tns:actualizacion_motivo_de_atencionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminar_motivo_de_atencion">
      <wsdl:input message="tns:eliminar_motivo_de_atencionSoapIn" />
      <wsdl:output message="tns:eliminar_motivo_de_atencionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ws_motivo_de_atencionSoap" type="tns:ws_motivo_de_atencionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="listado">
      <soap:operation soapAction="http://tempuri.org/listado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Motivo_de_atencion">
      <soap:operation soapAction="http://tempuri.org/Motivo_de_atencion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertar_motivo_de_atencion">
      <soap:operation soapAction="http://tempuri.org/insertar_motivo_de_atencion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizacion_motivo_de_atencion">
      <soap:operation soapAction="http://tempuri.org/actualizacion_motivo_de_atencion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminar_motivo_de_atencion">
      <soap:operation soapAction="http://tempuri.org/eliminar_motivo_de_atencion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ws_motivo_de_atencionSoap12" type="tns:ws_motivo_de_atencionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="listado">
      <soap12:operation soapAction="http://tempuri.org/listado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Motivo_de_atencion">
      <soap12:operation soapAction="http://tempuri.org/Motivo_de_atencion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertar_motivo_de_atencion">
      <soap12:operation soapAction="http://tempuri.org/insertar_motivo_de_atencion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizacion_motivo_de_atencion">
      <soap12:operation soapAction="http://tempuri.org/actualizacion_motivo_de_atencion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminar_motivo_de_atencion">
      <soap12:operation soapAction="http://tempuri.org/eliminar_motivo_de_atencion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ws_motivo_de_atencion">
    <wsdl:port name="ws_motivo_de_atencionSoap" binding="tns:ws_motivo_de_atencionSoap">
      <soap:address location="http://localhost/sistemadetickets/ws_motivo_de_atencion.asmx" />
    </wsdl:port>
    <wsdl:port name="ws_motivo_de_atencionSoap12" binding="tns:ws_motivo_de_atencionSoap12">
      <soap12:address location="http://localhost/sistemadetickets/ws_motivo_de_atencion.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>